html, body, svg { 
	width: 100%; height: 100%;
}

body {
	padding:0; margin:0;
}

#map {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: inset 0 -3px 5px rgba(0,0,0,0.055);
	-moz-box-shadow: inset 0 -3px 5px rgba(0,0,0,0.055);
	box-shadow: inset 0 -3px 5px rgba(0,0,0,0.055);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	/* fallback */
	background-color: #E4E6DF;
	background-image: url('ui/radial_bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	/* Safari 4-5, Chrome 1-9 */
	/* Can't specify a percentage size? Laaaaaame. */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFFFFF), to(#E4E6DF));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(circle, #FFFFFF, #E4E6DF);
	/* Firefox 3.6+ */
	background: -moz-radial-gradient(circle, #FFFFFF, #E4E6DF);
	/* IE 10 */
	background: -ms-radial-gradient(circle, #FFFFFF, #E4E6DF);
	/* Opera cannot do radial gradients yet */
}

text {
	/*font: 10px sans-serif;*/
	pointer-events: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

text.shadow {
	stroke: #fff;
	stroke-width: 3px;
	stroke-opacity: .8;
}

text.normalText, g.normalText text {
	display:  block;
	fill: #000 !important;
}

g text {
	/* font-size: 0.95em !important;*/
	text-shadow:
	-1px -1px 0 #FFF,
	1px -1px 0 #FFF,
	-1px 1px 0 #FFF,
	1px 1px 0 #FFF !important;
}

circle {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.20s;

	-moz-transition-property: opacity;
	-mox-transition-duration: 0.20s;

	-o-transition-property: opacity;
	-o-transition-duration: 0.20s;

	transition-property: opacity;
	transition-duration: 0.20s;
}